body { 
 color: orange;
 background: lightyellow;
 margin: 0px;
 font-family: "Playfair Display", serif;
}

header { 
    border-bottom: solid 2px  rgb(255 106 23);
    padding: 20px;
    font-size: 28px;
    color: rgb(255 106 23);
}

section {
background: rgb(224 255 255 );
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
} 

chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size:30px;
}

p{
    font-size:20px;
}

img {
    height:250px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap:10px;
}

.categoria {
    padding-left:20px;
    padding-right:20px;
    margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 250px;
}

.categoria-videos img:hover {
    opacity: 1.0;
border: 1px solid rgba(250, 184, 85, 0.945);
}

.categoria h2 {
    color:rgb(255 106 23);
}